:root {
  --main-color: #2061c5;
  --back-gray: #f0f2f8;
  --bold-gray: #a9afb9;
}

body {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 14px;
}

.header__logo {
  font-size: 20px;
  font-weight: bold;
  color: var(--main-color);
}
.header__logo a {
  color: var(--main-color);
}

.header__search {
  background-color: var(--back-gray);
  border-radius: 16px;
  padding: 4px 12px;
  width: 32vw;
}
.header__search i {
  color: var(--bold-gray);
}
.header__search input {
  background-color: inherit;
  border-radius: 12px;
  border-style: none;
  outline-style: none;
}
.header__search input::placeholder {
  color: var(--bold-gray);
}

.header__icons {
  display: flex;
  justify-content: space-between;
  width: 8vw;
  color: var(--bold-gray);
}

.header__user {
  color: var(--bold-gray);
}
.header__user span {
  margin: 2px;
}
.header__user span#photo {
  display: inline-block;
  background-color: var(--main-color);
  color: white;
  width: 26px;
  height: 26px;
  text-align: center;
  vertical-align: middle;
  border-radius: 75px;
}

.header__more {
  color: var(--bold-gray);
  margin-right: 10px;
}

/*  */

aside {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  border-radius: 0px 80px 0px 0px;
  float: left;
  width: 200px;
  height: 600px;
}

.aside__uploadBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 20px 30px 20px;
  width: 68%;
  height: 32px;
  font-size: 12px;
  font-weight: bold;
  color: var(--main-color);
  background-color: white;
  border-radius: 80px;
  border: solid white 1px;
  transition: 0.2s;
}
.aside__uploadBtn:hover {
  color: white;
  background-color: var(--main-color);
}

ul.aside__menu {
  list-style: none;
  margin: 0px;
  padding: 0px 10px;
}
.aside__menu li {
  display: flex;
}
.aside__menu i {
  width: 18px;
  height: 18px;
  font-size: 100%;
  color: white;
  padding: 10px;
}
.aside__menu a {
  font-size: 12px;
  color: white;
  align-self: center;
  padding: 4px;
}

.main {
  position: relative;
  left: 200px;
  width: calc(100% - 280px);
  padding: 40px;
  color: var(--main-color);
}
.main__title {
  display: flex;
  justify-content: space-between;
}
.main span {
  font-weight: bold;
  font-size: 18px;
}
.main i {
  width: 24px;
  height: 24px;
  background-color: var(--main-color);
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  margin: 4px;
  padding: 2px;
}
.main__title__icons i {
  background-color: var(--back-gray);
  color: var(--bold-gray);
}

.divider {
  margin-top: 6px;
  height: 3px;
  width: 100%;
  border-width: 0;
  background-color: var(--back-gray);
}
